.root {
    -fx-font-family: "Yu Gothic UI";
    -fx-background-color: #1e1e1e;
    -fx-background-radius: 8;
}


/* ========================= TITLE LABELS ========================= */
.label {
    -fx-text-fill: #e6e6e6;
}

.title {
    -fx-font-size: 26px;
    -fx-font-weight: bold;
    -fx-text-fill: #ff1e1e;
    -fx-effect: dropshadow(gaussian, black, 8, 0.3, 0, 2);
}

/* ========================= LIST VIEW (PRODUCTS) ========================= */
.list-view {
    -fx-background-color: #2a2a2a;
    -fx-border-color: #ff1e1e;
    -fx-border-width: 1;
}

.list-cell {
    -fx-background-color: transparent;
    -fx-text-fill: #f2f2f2;
}

.list-cell:selected {
    -fx-background-color: #ff1e1e;
    -fx-text-fill: black;
}

/* ========================= BUTTONS ========================= */
.button {
    -fx-background-color: #ff1e1e;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-background-radius: 6;
}

.button:hover {
    -fx-background-color: #ff3b3b;
}

.button:pressed {
    -fx-background-color: #b30000;
}

/* ========================= TEXTFIELD (SEARCH BAR) ========================= */
.text-field {
    -fx-background-color: #2a2a2a;
    -fx-text-fill: white; /* oder #ff1e1e*/
    -fx-border-color: #ff1e1e;
    -fx-border-radius: 4;
}

.text-field:focused {
    -fx-border-color: white;
}


